body, h4, label, button, th, a {
  font-weight: 400!important;
  font-family: 'Montserrat',sans-serif!important;
}

.form-group {
  margin-bottom: 15px;
}

ul.actions {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

ul.actions li {
  display: inline-block;
  margin-right: 8px;
}

body .wrapper .main-header .navbar .navbar-custom-menu .nav li .dropdown-menu {
  right: 0;
  border: 0;
  width: 175px !important;
}

.content-wrapper {
  background-color: #f5f4ec!important;
}

.content-header .fa-user-circle::before,
.content-header .fa-mortar-board::before,
.content-header .fa-graduation-cap::before,
.content-header .fa-tasks::before,
.content-header .fa-envelope::before {
  color: #da131b;
}

.box.box-danger {
  border-top-color: #da131b!important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #da131b!important;
  border-color: #da131b!important;
}

.content-header .title-header {
  color: #064c88!important;
}

.skin-red .main-header .navbar {
  background-color: #fff!important;
}

.navbar .navbar-brand, .navbar .navbar-nav a {
  color: #064c88!important;
}

.navbar .navbar-brand.home-logo .blue, .main-footer .home-logo .blue {
  color: #064c88!important;
  font-size: 25px!important;
}

/*.navbar .navbar-brand.home-logo .red, .main-footer .home-logo .red {
  color: #ed1c36!important;
  margin-left: -7px!important;
  font-size: 25px!important;
}*/

.navbar .navbar-brand.home-logo img {
  width: 130px;
  height: 52px;
  margin-top: -15px;
 }

.skin-red .main-header .navbar .nav>li>a:hover, .skin-red .main-header .navbar .nav>li>a:active, .skin-red .main-header .navbar .nav>li>a:focus, .skin-red .main-header .navbar .nav .open>a, .skin-red .main-header .navbar .nav .open>a:hover, .skin-red .main-header .navbar .nav .open>a:focus, .skin-red .main-header .navbar .nav>.active>a {
  background: #da131b!important;
  color: #fff!important;
}

.main-footer .home-logo .blue, .main-footer .home-logo .red {
  font-size: 18px!important;
}


.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
  color: #666666!important;
}

.content-header h1 .main-title {
  font-size: 24px;
  /*font-weight: 700;*/
  font-family: 'Montserrat',sans-serif;
}

label span.required {
  color: #da131b!important;
}

.ng-inactive {
  display: none!important;
}

.btn.btn-primary {
  background: #064c88!important;
  border-color: #064c88!important;
}

.modal-header {
  background: #064c88!important;
  color: white!important;
}

.modal-header button {
  color: white!important;
  opacity: unset!important;
  font-size: 24px!important;
}

form a {
  cursor: pointer!important;
}