<div class="container">
    <section class="content-header">
        <h1>
            <span class="title-header">
                <span class="main-title">
                    <i class="fa fa-university"></i> Turmas
                </span>
            </span>
            <a href="#/turma/new" title="Cadastrar" class="btn btn-success pull-right" data-ajax="normal">
                <i class="fa fa-plus"></i> Cadastrar
            </a>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-danger">
                    <div class="box-body">
                        <table class="table table-bordered" id="tableTurmas" ui-jq="dataTable">
                            <thead>
                                <tr>
                                    <th>Descrição</th>
                                    <th>Nível</th>
                                    <th>Professor</th>
                                    <th>Data de Cadastro</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="o in turmas | itemsPerPage: turmasPerPage" total-items="totalTurmas" current-page="pagination.current" >
                                    <td>{{o.descricao}}</td>
                                    <td>{{ (niveis | filter : {'value': o.nivel})[0].label }}</td>
                                    <td>{{o.professor}}</td>
                                    <td>{{o.created_at | date:'dd-M-yyyy H:mm:ss'}}</td>
                                    <td>
                                        <ul class="actions">
                                            <li>
                                                <a ng-href="#/turma/{{o.id}}/view" title="Visualizar">
                                                    <i class="fa fa-eye"></i> 
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-href="#/turma/{{o.id}}/edit" title="Editar" class="text-warning">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Excluir" class="text-danger" ng-click="remove(o.id)">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pull-right">
                            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>