<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">
        <i class="fa fa-tasks"></i> Novo Questionário
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" ng-show="error.error">
                <strong>Whoops!</strong> Ocorrerarm erros.<br><br>
                <div ng-repeat="message in error.message">
                    {{ message[0] }}
                </div>
            </div>
        </div>
    </div>
    <form name="form" role="form" method="POST" ng-submit="save()">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12 form-group" ng-class="{'has-error': !form.titulo.$valid && form.titulo.$touched}">
                    <label>Título <span class="required">*</span></label>
                    <input type="text" class="form-control" name="titulo" ng-model="questionario.titulo" ng-blur="change()" required>
                    <div ng-messages="form.titulo.$error" class="help-block" ng-show="form.titulo.$touched">
                        <div ng-message="required">Campo Obrigatório</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-danger" type="button" ng-click="save()">Salvar</button>
</div>