<div class="container">
    <section class="content-header">
        <h1>
            <span class="title-header">
                <span class="main-title">
                    <i class="fa fa-graduation-cap"></i> Alunos
                </span>
            </span>
            <a href="#/aluno/new" title="Cadastrar" class="btn btn-success pull-right" data-ajax="normal">
                <i class="fa fa-plus"></i> Cadastrar
            </a>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-danger">
                    <div class="box-body">
                        <table class="table table-bordered" id="tableAlunos" ui-jq="dataTable">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Nº Matrícula</th>
                                    <th>E-mail</th>
                                    <th>CPF</th>
                                    <th>Turma</th>                                    
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="o in alunos | itemsPerPage: alunosPerPage" total-items="totalAlunos" current-page="pagination.current" >
                                    <td>{{o.nome_completo}}</td>
                                    <td>{{o.matricula}}</td>
                                    <td>{{o.email}}</td>
                                    <td>{{o.cpf}}</td>
                                    <td>{{ (turmas.data | filter : {'id': o.turmas_id})[0].descricao }}</td>
                                    <td>
                                        <ul class="actions">
                                            <li>
                                                <a ng-href="#/aluno/{{o.id}}/view" title="Visualizar">
                                                    <i class="fa fa-eye"></i> 
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-href="#/aluno/{{o.id}}/edit" title="Editar" class="text-warning">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Excluir" class="text-danger" ng-click="remove(o.id)">
                                                    <i class="fa fa-remove"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pull-right">
                            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>